name: "Hello"

on:
  pull_request:
    branches: [master, main]
  push:

   
jobs:
  version-bumped-checker:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: ./
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
